@import '@/styles/variables.scss';

.requests {
  padding: 0 16px;
  
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: max-content;
    margin: auto;
    margin-top: 24px;
    padding: 16px;
    border-radius: 16px;
    background-color: $theme-white;

    @media (max-width: $media-s) {
      width: 100%;
    }
  }
}
